body {
    background-color: #ffffce;
    color: #1f3240;
}

.header {
    background: -webkit-linear-gradient(135deg, #ac7d75, #8dabc3);
    margin-top:20px;
    margin-left:10px;
    margin-right:10px;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
}

#header-text {
    color: #5e6f7d;
    text-align: right;
    padding:10px;
    padding-right:25px;
}

.header img {
    margin: 5px;
    height: 50px;
    width: 50px;
    opacity: 0.5;
    -webkit-filter: drop-shadow(0px 1px 2px #5e6f7d);
    filter: drop-shadow(0px 1px 2px #5e6f7d);
}

.header img:hover {
    opacity: 1;
}

.jumbotron {
    background: radial-gradient(ellipse at bottom, #8dabc3 0%, #5e6f7d 100%);
    overflow: hidden;
    padding:10px;
}

.jumbotron h2 {
    color:#c89c8f;

}

#demo {
    background:#c2d2d2;
}

.panel-body {
    margin:0;
    padding:0;
}

.panel {
    border-color: #ac7d75;
    -webkit-filter: drop-shadow(0px 2px 3px #8dabc3);
    filter: drop-shadow(0px 2px 3px #8dabc3);
    background-color: #c89c8f;
    
}

#selDataset {
    background-color: #8dabc3;
    border:1px, #5b565a;
    color: #5b565a;
    padding:5px;
    margin:10px;
}

.panel h5 {
    color: #ffbe8a;
    text-shadow: 1px 1px 4px #5e6f7d;
    padding: 10px;
}

#panel-header {
    padding: 10px;
    color: #ffbe8a;
    background-color: #c89c8f;
    text-shadow: 1px 1px 4px #5e6f7d;
}

#sample-metadata table {
    margin: 0;
    padding: 0;
    border: 1px #ffbe8a;
}

.key {
    font-style: italic;
    color:#ac7d75;
    text-align: right;
    padding-left:3px;
    background-color: #c1cdc9;
}

.value {
    color:#5b565a;
    text-align: left;
    padding-left: 5px;
}

#gauge {
    display: flex;
    justify-content: center;
}

#bar {
    -webkit-filter: drop-shadow(0px 2px 3px #8dabc3);
    filter: drop-shadow(0px 2px 3px #8dabc3);
    padding:0px;
}

#bar-header {
    color: #ffbe8a;
    background-color: #c89c8f;
    text-shadow: 1px 1px 4px #5e6f7d;
    text-align: center;
    padding: 15px;
}

#bar-body {
    margin-top:20px;
}

color_palette {

color: #ffffce;

color: #c89c8f;

color: #5b565a;

color: #8dabc3;

color: #ffbe8a;

color: #c2d2d2;

color: #1f3240;

color: #ac7d75;

color: #c1cdc9;

}